<html>

<head>
    <title>SETUP</title>
    <LINK REL="stylesheet" href="{{ url_for('static', filename='style.css') } }">
</head>

<body>
    <div class="wrapper">
        <h2>Setup the class</h2>
        <P> Just fill it once</p>
        <form method="POST">
            <INPUT TYPE="TEXT"> NAME="classname" placeholder="class name eg.2D " needed/>
            <input type="text" name="teacher" placeholder="name of teacher" needed />
            <button type="submit">next → </button>


        </form>
    </div>
</body>

</html>